
<div class="Main-block">
  <div class="Search-block">

    <div class="form">
      <mat-form-field class="full-width form-field" appearance="fill">
        <mat-label>Search Medicine</mat-label>
        <input matInput placeholder="Ex. Dolo" [value]="selectedMedicine" (change)="onSearch($event)">
      </mat-form-field>

      <mat-form-field  class="full-width form-field" appearance="fill">
        <mat-label>Select Patient</mat-label>
        <mat-select (selectionChange)="onSelectionChange($event)">
          <mat-option *ngFor="let item of patient_name" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="add-patient-button">
        <button mat-raised-button color="primary" (click)="addPatient()">
          <mat-icon class="icon-size-Patient">person_add</mat-icon>
          Add
        </button>
      </div>
    </div>
    </div>




  <div class="table-container">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource && dataSource.length > 0 " >
    <ng-container matColumnDef="position" class="column-position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}. </td>
    </ng-container>

    <ng-container matColumnDef="medicine_name" class="column-medicine-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.medicine_name}} </td>
    </ng-container>

    <ng-container matColumnDef="manufacturer_name" class="column-manufacturer-name">
      <th mat-header-cell *matHeaderCellDef> Manufacturer Name </th>
      <td mat-cell *matCellDef="let element"> {{element.manufacturer_name}} </td>
    </ng-container>

    <ng-container matColumnDef="packing_size" class="column-packing-size">
      <th mat-header-cell *matHeaderCellDef> Packing Size </th>
      <td mat-cell *matCellDef="let element"> {{element.packing_size}} </td>
    </ng-container>

    <ng-container matColumnDef="price" class="column-price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="available_for_patient" class="column-available">
      <th mat-header-cell *matHeaderCellDef> Available For Patient </th>
      <td mat-cell *matCellDef="let element"> {{element.available_for_patient}} </td>
    </ng-container>

    <ng-container matColumnDef="Action" class="column-action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button class="info-button" (click)="openDialog(element)">
          <mat-icon>info</mat-icon>

        </button>

        <button mat-raised-button class="green-button"  (click)="AddtoCart(element)">
          <mat-icon>add_shopping_cart</mat-icon>

        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>


<div *ngIf="suggestions" class="empty-table-message">
  <mat-card class="empty-table-card">
    <mat-card-content>

      <div class="suggest-medicine">Did You Mean ?</div>
      <div class="medicine-buttons">
        <button mat-button class="medicine-button" (click)="buttonSearch(suggestions)" >
          {{ suggestions  }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!dataSource || dataSource.length === 0" class="empty-table-message">
  <mat-card class="empty-table-card">
    <mat-card-content>
      <div class="no-medicine">There is no data available to display. Please search for a medicine.</div>
      <hr>
      <div class="suggest-medicine">Most Searched Medicines</div>
      <div class="medicine-buttons">
        <button mat-button class="medicine-button" (click)="buttonSearch(medicine)" *ngFor="let medicine of mostSearchedMedicines">
          {{ medicine }}
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

  </div>






