.green-button {
  background-color: #58bb5b !important;

  margin-left: 2%;
}

.green-button:hover {
  background-color: #119417 !important;
  color:  white;

}

.info-button {
  background-color: #2196f3 !important;
  color: white;
  width: 10%;
}

.info-button:hover {
  background-color: #0d47a1 !important;
  color:  white;
  width: 10%;

}

.mat-form-field .mat-input-element,
.mat-form-field .mat-select-trigger {
  border-radius: 10px !important;
}

button {
  background-color: #475ac4 !important;
  border-radius: 20px;
  padding: 8px 16px;
}
button:hover {
  background-color: #34449f !important;
}

.form{
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 100%;


}


.full-width{
  width: 100%;
}

.add-patient-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.icon-size-Patient{
  font-size: 13px;
}




.mat-table {
  min-width: 800px;
}

.mat-header-cell, .mat-cell {
  white-space: nowrap;
}

.Search-block{
  margin: 16px 20px 16px 20px;
}

.mat-icon{
  font-size: 19px !important;
  margin: 0 5px 0 5px !important;
}


.table-container {
  max-height: 500px;
  overflow: auto;
  margin: 5px 15px 5px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.empty-table-message{
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  background-color: #f1f1f1;
}



table {
  width: 100%;
  table-layout: fixed;

  border-radius: 10px;
  border-collapse: collapse;

}

.mat-header-cell, .mat-cell {
  text-align: left;
}

.mat-header-cell{
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1 !important;
}



.column-position {
  width: 50px;
  text-align: center;
}

.column-medicine-name {
  flex-grow: 2;
  min-width: 200px;
}

.column-manufacturer-name {
  flex-grow: 2;
  min-width: 200px;
}

.column-packing-size {
  width: 10%;
  min-width: 100px;
}

.column-price {
  width: 10%;
  min-width: 80px;
}

.column-available {
  width: 15%;
  min-width: 150px;
}

.column-action {
  width: 20%;
  min-width: 200px;
}

.mdc-data-table__cell{
  text-align: center !important;
}

.mdc-data-table__header-cell  {
  text-align: center !important;
}






.empty-table-message {
 border-radius: 10px !important;
  text-align: center;
    overflow: hidden !important;
    margin:  0 20px 0 20px;
}

// .empty-table-card {
//   border-radius: 10px;
//   background-color: #f5f5f5; /* Light background */
//   color: #333; /* Dark text for contrast */
//   padding: 20px;
//   width: 100%;
//   max-width: 600px;
//   margin: 0 auto;
// }

.suggest-medicine {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;


}

.no-medicine{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}


.medicine-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.medicine-button {
  border: 1px solid #000000;
  background: transparent !important;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.medicine-button:hover {
  background-color: #479efa;
  color: white;
}

