<mat-toolbar color="primary" class="sticky-toolbar">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Evitalrx</span>
  <span class="spacer"></span>
  <button mat-icon-button class="cart-icon favorite-icon" aria-label="favorite">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="cart-icon" aria-label="Example icon-button with shopping cart icon">
    <mat-icon matBadge="{{cartItemsCount}}" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>



</mat-toolbar>



<mat-menu #menu="matMenu">
  <div mat-menu-item *ngIf="!isLoggedIn" (click)="routeThePage('login')">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </div>
  <div mat-menu-item *ngIf="!isLoggedIn" (click)="routeThePage('signup')">
    <mat-icon>person_add</mat-icon>
    <span>Sign Up</span>
  </div>
  <div mat-menu-item *ngIf="isLoggedIn" (click)="routeThePage('home')">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </div>
  <div mat-menu-item *ngIf="isLoggedIn" (click)="routeThePage('order')">
    <mat-icon>shopping_cart</mat-icon>
    <span>Order</span>
  </div>
  <div mat-menu-item *ngIf="isLoggedIn" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </div>
</mat-menu>

