<mat-dialog-content class="patient-form-container">
  <h2 class="form-title">Add Patient</h2>

  <form [formGroup]="patientForm">

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input matInput id="first_name" formControlName="first_name" type="text" />
        <mat-error *ngIf="patientForm.get('first_name')?.invalid && patientForm.get('first_name')?.touched">
          First name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input matInput id="last_name" formControlName="last_name" type="text" />
        <mat-error *ngIf="patientForm.get('last_name')?.invalid && patientForm.get('last_name')?.touched">
          Last name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Mobile</mat-label>
        <input matInput id="mobile" formControlName="mobile" type="tel" />
        <mat-error *ngIf="patientForm.get('mobile')?.invalid && patientForm.get('mobile')?.touched">
          Valid mobile number is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Zip Code</mat-label>
        <input matInput id="zipcode" formControlName="zipcode" type="text" />
        <mat-error *ngIf="patientForm.get('zipcode')?.invalid && patientForm.get('zipcode')?.touched">
          Zip code is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="patientForm.get('dob')?.invalid && patientForm.get('dob')?.touched">
          Date of birth is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Gender</mat-label>
        <mat-select id="gender" formControlName="gender">
          <mat-option value="">Select Gender</mat-option>
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('gender')?.invalid && patientForm.get('gender')?.touched">
          Gender is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Blood Group</mat-label>
        <mat-select id="blood_group" formControlName="blood_group">
          <mat-option value="">Select Blood Group</mat-option>
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
        <mat-error *ngIf="patientForm.get('blood_group')?.invalid && patientForm.get('blood_group')?.touched">
          Blood group is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="patientForm.invalid">Submit</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
