


<mat-card class="cart-card">
  <mat-card-content>
    <div class="cart-div">
      <div class="cart-box">
        <div class="prod-card">
          <div class="title">
            <mat-card>
              <mat-card-content class="three-d-card">
                <div class="frow heading">
                  <h4 class="header-item">Product</h4>
                  <h4 class="header-item headprice">Price</h4>
                  <h4 class="header-item">Quantity</h4>
                  <h4 class="header-item">Subtotal</h4>
                </div>
              </mat-card-content>
            </mat-card>
          </div>


          <div class="products" *ngFor="let product of products">
            <mat-card class="product-card">
              <mat-card-content class="three-d-card card1">
                <div class="frow product-content">
                  <div class="frow product-details">
                    <img [src]="product.data[0].medicine_image" class="prod-img" />
                    <p class="prod-name">{{ product.data[0].medicine_name }}</p>
                  </div>

                  <div class="price">{{ product.data[0].mrp | currency : 'INR':'symbol'}}</div>

                  <mat-form-field appearance="outline" class="quantity-field">
                    <input matInput type="number" [(ngModel)]="product.quantity" (change)="quantityChange(product.data[0].mrp * product.quantity, product.data[0].id)"/>
                  </mat-form-field>

                  <p class="sub">{{ product.data[0].mrp * product.quantity | currency : 'INR':'symbol'}}</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="btn-container">

            <button
            mat-raised-button
            color="warn"
            class="return"

            (click)="returntohome()"
          >
          Return To Home
          </button>
          <button
          mat-raised-button
          color="warn"
          class="clearAll"

          (click)="ClearAlldata()"
        >
        Clear All Items
        </button>
            <button
            mat-raised-button
            color="warn"
            class="proceed"
            (click)="onClickChekcout()"
          >
            Proceed to Checkout
          </button>


          </div>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
